In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import helper
import postgres
import json

import plotly.graph_objects as go
import plotly.express as px
import pandas as pd

C:\Users\User\miniconda3\envs\pytorch\lib\site-packages\statsmodels\compat\pandas.py:61: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import Int64Index as NumericIndex

In [5]:
def age_data_stats(file):

    with open(file, "r") as f:
        age_groups = pd.read_json(file)
        age_groups = age_groups["total_age_groups"]
        columns = ["cases", "critical", "deaths"]
        age_groups = pd.DataFrame(age_groups.tolist()).T

    return age_groups.rename(columns={0: columns[0], 1: columns[1], 2: columns[2]})


def driver_code(json_path, record_path=None):

    with open(json_path, "r") as f:
        data = json.loads(f.read())
        
        postgres.create_tables_json()
        df = pd.json_normalize(data, record_path=record_path)

        if "date" in df.columns:
            df["date"] = pd.to_datetime(df["date"])
        
        # postgres.import_data(df, "covid_data_greece")
        return df

In [8]:
cases = driver_code('../../Data/covid19-data-greece/data/greece/general/timeseries_greece.json', 'Greece')

=================================================
Creating connection to the PostgreSQL database...
=================================================
=======
Table covid_data_greece already exists! Skipping...

In [9]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       792 non-null    datetime64[ns]
 1   confirmed  792 non-null    int64
 2   recovered  792 non-null    int64
 3   deaths     792 non-null    int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 24.9 KB

In [11]:
cases['month'] = cases['date'].dt.month
cases['year'] = cases['date'].dt.year

In [14]:
cases[cases['month'] == 4]

          date  confirmed  recovered  deaths  month  year
70  2020-04-01       1156         52      38      4  2020
71  2020-04-02       1156         61      38      4  2020
72  2020-04-03       1613         78      59      4  2020
73  2020-04-04       1673         78      68      4  2020
74  2020-04-05       1735         78      73      4  2020
75  2020-04-06       1755        269      79      4  2020
76  2020-04-07       1832        269      81      4  2020
77  2020-04-08       1884        269      83      4  2020
78  2020-04-09       1955        269      86      4  2020
79  2020-04-10       2009        269      90      4  2020
80  2020-04-11       2081        269      93      4  2020
81  2020-04-12       2081        269      93      4  2020
82  2020-04-13       2145        269      99      4  2020
83  2020-04-14       2170        269     101      4  2020
84  2020-04-15       2192        269     102      4  2020
85  2020-04-16       2207        269     105      4  2020
86  2020-04-17       2224        269     108      4  2020
87  2020-04-18       2235        269     110      4  2020
88  2020-04-19       2245        269     116      4  2020
89  2020-04-20       2245        269     116      4  2020
90  2020-04-21       2401        577     121      4  2020
91  2020-04-22       2408        577     121      4  2020
92  2020-04-23       2463        577     125      4  2020
93  2020-04-24       2490        577     130      4  2020
94  2020-04-25       2506        577     130      4  2020
95  2020-04-26       2517        577     134      4  2020
96  2020-04-27       2534        577     136      4  2020
97  2020-04-28       2566        577     138      4  2020
98  2020-04-29       2576        577     139      4  2020
99  2020-04-30       2591       1374     140      4  2020
435 2021-04-01     267172      93764    8160      4  2021
436 2021-04-02     270230      93764    8232      4  2021
437 2021-04-03     273459      93764    8302      4  2021
438 2021-04-04     275414      93764    8380      4  2021
439 2021-04-05     277277      93764    8453      4  2021
440 2021-04-06     281570      93764    8532      4  2021
441 2021-04-07     285015      93764    8607      4  2021
442 2021-04-08     288230      93764    8680      4  2021
443 2021-04-09     290964      93764    8758      4  2021
444 2021-04-10     293763      93764    8833      4  2021
445 2021-04-11     295480      93764    8885      4  2021
446 2021-04-12     297086      93764    8961      4  2021
447 2021-04-13     301103      93764    9054      4  2021
448 2021-04-14     304184      93764    9135      4  2021
449 2021-04-15     308006      93764    9239      4  2021
450 2021-04-16     311033      93764    9330      4  2021
451 2021-04-17     313444      93764    9397      4  2021
452 2021-04-18     315273      93764    9462      4  2021
453 2021-04-19     316879      93764    9540      4  2021
454 2021-04-20     320629      93764    9627      4  2021
455 2021-04-21     323639      93764    9713      4  2021
456 2021-04-22     326395      93764    9788      4  2021
457 2021-04-23     329134      93764    9864      4  2021
458 2021-04-24     331730      93764    9950      4  2021
459 2021-04-25     333129      93764   10007      4  2021
460 2021-04-26     334436      93764   10087      4  2021
461 2021-04-27     337723      93764   10179      4  2021
462 2021-04-28     340493      93764   10242      4  2021
463 2021-04-29     342908      93764   10315      4  2021
464 2021-04-30     345033      93764   10381      4  2021

In [ ]:
file = "../../Data/covid19-data-greece/data/greece/age_distribution/age_data_history.json"

with open(file, "r") as f:
    data = json.loads(f.read())
    ages = pd.json_normalize(data=data, sep="_")
    ages["date"] = pd.to_datetime(ages["date"])

cases = cases.merge(right=ages[ages.columns[:5]], how="outer", on="date").fillna(0)

for col in cases.columns[4:8]:
    cases[col] = cases[col].astype("int64")

cases["year_month"] = cases["date"].dt.strftime("%Y-%m")
grouped_cases = cases.groupby(by="year_month", as_index=False).sum()

grouped_cases["cases_unknown"] = grouped_cases["confirmed"] - grouped_cases[
    grouped_cases.columns[-4:]
].sum(axis=1)
grouped_cases.drop(labels="confirmed", axis=1, inplace=True)

grouped_cases.columns = grouped_cases.columns.str.replace("cases_", "")

In [ ]:
melted = grouped_cases.melt(id_vars='year_month', value_vars=grouped_cases.columns[3:], var_name='cases')

In [ ]:
fig = px.bar(
    grouped_cases,
    x='year_month',
    y='deaths',
    title="Death Count per Month",
    text=grouped_cases['deaths'],
    width = 1200, height = 600
)
fig.update_traces(texttemplate="%{text:.3s}", textposition="outside")

fig.update_layout(
    xaxis=dict(dtick="M1", tickformat="%b-%Y", tickangle=-45, title=""),
    uniformtext_minsize=8,
    uniformtext_mode="hide"
)

fig.show()

In [ ]:
fig = px.bar(
    data_frame=melted,
    x="year_month",
    y="value",
    color="cases",
    title="Confirmed COVID-19 Cases per Month",
)

fig.update_layout(
    barmode="group",
    xaxis=dict(dtick="M1", tickformat="%b-%Y", tickangle=-45, title=""),
    width=1200,
    height=600
)

fig.show()

In [ ]:
file = "../../Data/covid19-data-greece/data/greece/age_distribution/age_data.json"
age_groups = age_data_stats(file)
titles = [
    "Age Distribution of COVID-19 Confirmed Cases",
    "Critical Cases per Age Group",
    "Death count",
]

fig = go.Figure().set_subplots(rows=1, cols=3, specs=[[{"type": "pie"}, {"type": "pie"}, {"type": "pie"}]])
for idx, col in enumerate(age_groups.columns):
    fig.add_trace(
        go.Pie(labels=age_groups.index, values=age_groups[col], title=titles[idx]), row=1, col=idx + 1,
    )
fig.update_layout(width=1200, height=500)

fig.show()